<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Responsive Registration Form | CodingLab</title>
    <link rel="stylesheet" href="tempstyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Battery capacity</span>
              <input type="text" placeholder="Quantity(kWh)" required />
            </div>
            <div class="input-box">
              <span class="details">Consumption</span>
              <input
                type="text"
                placeholder="Consumption(kWh/100km)"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Average speed</span>
              <input type="text" placeholder="Avg speed(km/h)" required />
            </div>
            <!-- <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter your number" required />
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="text" placeholder="Enter your password" required />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input type="text" placeholder="Confirm your password" required />
            </div>
          </div> -->
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Tyre Type</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Summer</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Winter</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Predict" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
